body, html {
    background-color: #FFFFFF;
}

#hd {
	margin-left: 160px;
    line-height: 30px;
    height: 30px;
    padding: 3px 5px 3px 3px;
    background-image: url(../images/bg_topbar.gif);
    background-color: #8194A4;
    background-repeat: repeat-x;
    border-right: 1px solid #999999;
    border-left: 1px solid #999999;
}

#hd2 {
    height: 75px;
    clear: both;
    background-color: #F7F7F7;
    border-left: 1px solid #999999;
    border-top: 1px solid #999999;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;	
}

#hd2 #title {
    float: right;
    padding: 15px 10px 0 0;
    font-weight: bold;
    font-size: 1.75em;
    color: #CCCCCC;    
}

.authInfo {
    text-align: right;
    font: 0.7em Tahoma, sans-serif;
    line-height: 30px;
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
}

.authInfo a {
    color: #FFFFFF; 
}

#nav {
    border-top: 1px solid #999999;	
}

#bd {
	
}

#ft {
	margin-left: 159px;
    padding-top: 10px;
    font: 0.7em Tahoma, sans-serif;
    font-size: 11px;
    border-top: 1px solid #999999;
    color: #666666;
}

#ft a {
    color: #666666;	
}


#doc4 {
    	
}

.content {
	background-color: #F7F7F7;
	background-image: url(../images/content_bg.png);
	background-repeat: repeat-y;
	border-right: 1px solid #999999;
}

.panel {
    border: solid 1px #E4E4E4;
    background-color: #EEEEEE;
    min-height: 150px;
    padding: 7px;
    margin: 10px 10px 10px 0;
}

/** Nav Style **/
#menu {
    float: left;
    width: 159px;
    margin: 0 0 0 0;
}

#linksmenu a, #linksmenu div.sub_menu a {
    float: right;
    width: 159px;
    height: 20px;
    background-color: #ABC578;
    border-left: solid 1px #FFFFFF;
    border-bottom: solid 1px #FFFFFF;
    font: 0.7em Tahoma, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    padding-top: 5px;
}

#linksmenu div.sub_menu a {
    background-color: #66849E;  
}

#linksmenu div.sub_menu {
    margin: 0;
    padding: 0;
    width: 159px;
    background-color: #C6E38C;
}

#linksmenu a:hover, #linksmenu div.sub_menu a:hover {
    background-color: #514F1C;
}