#topmenu {
    position: relative;
    top: 13px;
    left: 0px;
    width: 100%;
    margin: 0;
    line-height:normal;
    height: 21px;
    border-bottom: 1px solid #86C32A;
    z-index: 4;
}

#topmenu ul {
    margin:0;
    padding:0px 0px 0 0px;
    list-style:none;
}

#topmenu li {
    display:inline;
    margin:0;
    padding:0;
}

#topmenu a {
    float:left;
    background:url(../images/menuleft.gif) no-repeat left top;
    margin:0;
    padding:0 0 0 4px;
    text-decoration:none;
    z-index: 3;
}

#topmenu a span {
    float:left;
    display:block;
    background:url(../images/menuright.gif) no-repeat right top;
    padding:5px 15px 4px 6px;
    color:#4B7F00;
    
    font-size: .86em;
}
      
#topmenu a span {
    float:none;
}

#topmenu a:hover span {
    color:#999999;
}

#topmenu a:hover {
    /*background-position:0% -42px;*/
}

#topmenu a:hover span {
    /*background-position:100% -42px;*/
}

#topmenu div.sub_menu a {
    background: none;
    float: right;
    width: 160px;
    height: 20px;
    background-color: #CCC;
    border-left: solid 1px #FFFFFF;
    border-bottom: solid 1px #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    padding-top: 5px;
}

#topmenu div.sub_menu {
    margin: 0;
    padding: 0;
    width: 170px;
    background-color: #C6E38C;
    padding-bottom: 5px;
    position: absolute;
}

#topmenu div.sub_menu a:hover {
    background-color: #86C32A;
}