.apiEndpoint {
    margin-bottom: 25px;
}

.endpointDescription {
    margin-bottom: 20px;
}

.protocol {
    background-color: #FFF58F;
    border: 1px solid #CCC;
    padding: 10px 5px 10px 10px;
}

.methodDescription {
    margin-bottom: 20px;
    padding: 5px 5px 20px 10px;
    border: 1px solid #CCC;
    background-color: #FFFFFF;
    border-top: 0px;
    font-family: Courier;
    white-space: pre;
}

.jump {
    margin-top: 10px;
    text-align: right;
}

.backToTop {
    float: right;
}