@CHARSET "UTF-8";

.enableAllButton {
    padding: 2px 15px 2px 20px;
    background-image: url(../../../images/enabled.png);
    background-position: 0px 3px;
    background-repeat: no-repeat;
}

.enableAllButton a {
    color: #0C0;	
}

.enabled {
	background-color: #0C0;
}

.enabled a {
    color: #FFF;	
}

.disableAllButton {
    padding: 2px 15px 2px 20px;
    background-image: url(../../../images/disabled.png);
    background-position: 0px 3px;
    background-repeat: no-repeat;
}

.disableAllButton a {
    color: #C00;
}

.disabled {
    background-color: #C00;
}

.disabled a {
    color: #FFF;
}