.enabled {
    background-color: #0C0;
}

.enabled a {
    color: #FFF;    
}

.disabled {
    background-color: #C00;
}

.disabled a {
    color: #FFF;
}

#alertBox {
    border: 1px solid #000;
    margin-bottom: 5px;
    width: 97%;
    height: 25px;
    line-height: 25px;
    padding: 0 5px;
    font-weight: bold;
    background-color: #66EE00;
}

#alertWrapper {
    height: 30px;
}