<?xml version="1.0" encoding="UTF-8"?>
<configData>
  <production>
    <theme>
        <name>Default</name>
        <description>
        The default theme.
        </description>
    </theme>
    <css>
        <file path="layout.css" order="append"/>
        <file path="layout.css" order="append"/>
    </css>
    <scripts>
    </scripts>
  </production>
</configData>