@CHARSET "UTF-8";

.actions {
    width: 100px;
    padding : 5px;
    background : #EEE;
    border : none;
    -moz-box-shadow: 4px 5px 15px #555;
    -webkit-box-shadow: 4px 5px 15px #555;
    box-shadow: 4px 5px 15px #555;
    text-align : center;
}

.actions table {
    width: 100%;
}

div.wrapper {
    display : none;
}

div.actions table {
    margin : 0;
}

.action {
    font-size : 95%;
    line-height : 1.05263;
}

.action.noAccess {
    display : none;
}

.controller.access, td.controller.someAccess {
    cursor : pointer;
}

.controller {
    padding: 5px 3px;
    color: #FFFFFF;
    text-align: center;
    font-weight: normal;
    margin-bottom: 10px;
    overflow: hidden;
}

.controller strong {
    color: #000000;
}

#permissionsHeader {
    margin-top: 0px;
    border-bottom: 1px solid #EEEEEE;
}

textarea {
    width: 220px;
    height: 100px;
}