div.aclSection {
    margin-bottom: 20px;
}

div#accessList div.module {
    background-color: #CC0000;
    color: #FFFFFF;
    text-align: left;
    font-weight: bold;
    padding: 2px;
}

div#accessList table.list tr {
    height: 30px;   
}

div#accessList table.list tr.module {
    background-color: #000000;
    color: #FFFFFF;
}

div#accessList table.list tr.controller {
    background-color: #E7E7E7;
    font-weight: bold;
}

div#accessList table.list tr.controller td.td1 {
    padding-left: 20px;
    background: #E7E7E7 url(../../../images/indent.gif) 3px 2px no-repeat;
}

div#accessList table.list tr.action td.td3 {
    padding-left:  20px;
    background-color: #FFF;
}

div#accessList table.list tr.action td.td1 {
    padding-left: 35px;
    background: #FFFFFF url(../../../images/indent.gif) 18px 2px no-repeat;
}

div#accessList table.list td.access {
    background: #FFFFFF url(../../../images/aclAccess.gif) 0 0 repeat-x;
    color: #FFF;
    font-weight: normal;
    text-align: center;
}

div#accessList table.list td.noAccess {
    background: #FFFFFF url(../../../images/aclNoAccess.gif) 0 0 repeat-x;
    color: #FFF;
    font-weight: normal;
    text-align: center;    
}

div#accessList table.list td.someAccess {
    background: #FFFFFF url(../../../images/aclSomeAccess.gif) 0 0 repeat-x;
    color: #000;
    font-weight: normal;
    text-align: center;    
}

div#accessList table.list select {
    font-weight: normal;    
}

div#accessList img.info {
    float: right;   
}

.floatRight {
    float: right;
}

.descriptionTab-tip {
    color: #000000;
    width: 250px;
    z-index: 13000;
    border: 1px solid #000000;
}

.descriptionTab-text {
    font-size: 11px;
    padding: 4px 8px 8px;
    background: #DAE5F2;
    text-align: left;
}