<?xml version="1.0"?>
<production>
  <production>
    <roles>
      <role>
        <name>guest</name>
        <inherit></inherit>
        <editable>1</editable>
        <allows>
          <allow>
            <resource>error_error</resource>
            <privilege>*</privilege>
          </allow>
          <allow>
            <resource>default_index</resource>
            <privilege>*</privilege>
          </allow>
          <allow>
            <resource>login_index</resource>
            <privilege>*</privilege>
          </allow>
        </allows>
        <denys/>
      </role>
      <role>
        <name>authUser</name>
        <inherit>guest</inherit>
        <editable>1</editable>
        <allows>
          <allow>
            <resource>account_index</resource>
            <privilege>add</privilege>
          </allow>
          <allow>
            <resource>account_index</resource>
            <privilege>change-password</privilege>
          </allow>
          <allow>
            <resource>account_index</resource>
            <privilege>delete-api-code</privilege>
          </allow>
          <allow>
            <resource>account_index</resource>
            <privilege>edit</privilege>
          </allow>
          <allow>
            <resource>account_index</resource>
            <privilege>generate-api-code</privilege>
          </allow>
          <allow>
            <resource>account_index</resource>
            <privilege>index</privilege>
          </allow>
        </allows>
        <denys/>
      </role>
      <role>
        <name>administrator</name>
        <inherit></inherit>
        <editable></editable>
        <allows>
          <allow>
            <resource>*</resource>
            <privilege>*</privilege>
          </allow>
        </allows>
        <denys/>
      </role>
      <role>
        <name>oit_ot_staff</name>
        <inherit></inherit>
        <editable></editable>
        <allows>
          <allow>
            <resource>*</resource>
            <privilege>*</privilege>
          </allow>
        </allows>
        <denys/>
      </role>
    </roles>
  </production>
</production>
