<?xml version="1.0"?>
<production>
  <production>
    <roles>
      <role>
        <name>guest</name>
        <inherit></inherit>
        <editable>1</editable>
        <allows>
          <allow>
            <resource>default_index</resource>
            <privilege>*</privilege>
          </allow>
          <allow>
            <resource>default_soap</resource>
            <privilege>*</privilege>
          </allow>
          <allow>
            <resource>login_index</resource>
            <privilege>forgot</privilege>
          </allow>
          <allow>
            <resource>login_index</resource>
            <privilege>index</privilege>
          </allow>
          <allow>
            <resource>login_index</resource>
            <privilege>logout</privilege>
          </allow>
          <allow>
            <resource>login_index</resource>
            <privilege>password-reset</privilege>
          </allow>
          <allow>
            <resource>login_index</resource>
            <privilege>signup</privilege>
          </allow>
        </allows>
        <denys/>
      </role>
      <role>
        <name>authUser</name>
        <inherit>guest</inherit>
        <editable>1</editable>
        <allows>
          <allow>
            <resource>account_index</resource>
            <privilege>*</privilege>
          </allow>
        </allows>
        <denys/>
      </role>
      <role>
        <name>administrator</name>
        <inherit></inherit>
        <editable></editable>
        <allows>
          <allow>
            <resource>*</resource>
            <privilege>*</privilege>
          </allow>
        </allows>
        <denys/>
      </role>
      <role>
        <name>oit_ot_staff</name>
        <inherit></inherit>
        <editable></editable>
        <allows>
          <allow>
            <resource>*</resource>
            <privilege>*</privilege>
          </allow>
        </allows>
        <denys/>
      </role>
      <role>
        <name>activation_pending</name>
        <inherit>authUser</inherit>
        <editable>1</editable>
        <allows/>
        <denys/>
      </role>
    </roles>
  </production>
</production>
