<?xml version="1.0"?>
<configdata>
	<production>
    	<authentication>
           <local>
               <class>Ot_Auth_Adapter_Local</class>
               <name>Local</name>
               <description>Authentication using a local ID and Password</description>    
           </local> 
    	   <wrap>
    	       <class>Ot_Auth_Adapter_Wrap</class>
    	       <name>NCSU Wrap</name>
    	       <description>Authentication using your Unity ID and Password</description>    
    	   </wrap> 	   
    	</authentication>
    	<authorization>Ot_Authz_Adapter_Local</authorization>
    	<cronFilePath>./cron</cronFilePath>
    	<loginOptions>
    	   <generateAccountOnFirstLogin>1</generateAccountOnFirstLogin>
    	   <defaultRoleOnAccountCreation>authUser</defaultRoleOnAccountCreation>
    	   <defaultRole>guest</defaultRole>
    	   <defaultAuthenticatedRole>authUser</defaultAuthenticatedRole>
    	   <startpage>
    	   </startpage>
    	   <passwordReset>
    	       <key>tl30fkvERtili</key>
    	       <iv>39v09v90fef094gj</iv>
    	       <cipher>MCRYPT_RIJNDAEL_128</cipher>
    	       <numberMinutesKeyIsActive>30</numberMinutesKeyIsActive>
    	   </passwordReset>
    	</loginOptions>
    	<accountPlugin>Internal_Account_Plugin_Attributes</accountPlugin>
    	<remoteAccess>
    	   <allow>1</allow>
    	</remoteAccess>
    	<triggerPlugins>
    	   <Ot_Trigger_Plugin_EmailQueue>Send email via Queue</Ot_Trigger_Plugin_EmailQueue>
    	</triggerPlugins>
    	<customFieldObjects>
    	   <Ot_Profile>User Profile</Ot_Profile>
    	</customFieldObjects>
        <maintenanceMode>0</maintenanceMode>
   	</production>
</configdata>
