<?xml version="1.0"?>
<configdata>
	<production>
    	<authentication>
    	   <wrap>
    	       <class>Ot_Auth_Adapter_Wrap</class>
    	       <name>NCSU Wrap</name>
    	       <description>Authentication using your Unity ID and Password</description>    
    	   </wrap>
    	</authentication>
    	<authorization>Ot_Authz_Adapter_Local</authorization>
        <groupManager>Internal_Group_Plugin_Db</groupManager>
    	<cronFilePath>./cron</cronFilePath>
    	<loginOptions>
    	   <generateAuthzInstanceOnFirstLogin>1</generateAuthzInstanceOnFirstLogin>
    	   <defaultRoleOnAuthzInstanceCreation>authUser</defaultRoleOnAuthzInstanceCreation>
    	   <requireAccountEntryOnLogin>1</requireAccountEntryOnLogin>
    	   <defaultRole>guest</defaultRole>
    	   <defaultAuthenticatedRole>authUser</defaultAuthenticatedRole>
    	   <startpage>
    	   </startpage>
    	   <passwordReset>
    	       <key>tl30fkvERtili</key>
    	       <iv>39v09v90fef094gj</iv>
    	       <cipher>MCRYPT_RIJNDAEL_128</cipher>
    	       <numberMinutesKeyIsActive>30</numberMinutesKeyIsActive>
    	   </passwordReset>
    	</loginOptions>
    	<remoteAccess>
    	   <allow>1</allow>
    	</remoteAccess>
    	<triggerHelpers>
    	   <Ot_Trigger_Helper_EmailQueue>Send email via Queue</Ot_Trigger_Helper_EmailQueue>
    	</triggerHelpers>
    	<customFieldObjects>
    	   <Ot_Profile>User Profile</Ot_Profile>
    	</customFieldObjects>
        <maintenanceMode>1</maintenanceMode>
   	</production>
</configdata>
