.mooStrengthScoreBarBorder {
    background: #333;
    height: 16px;
    line-height: 16px;
    margin: 0 0 2px 3px;
    width: 125px;
    display: inline;
}

.mooStrengthScore {
    color: #000;
    font-size: 85%;
    position:absolute;
    text-align: center;
    width: 125px;
    z-index: 10;
    font-weight: bold;
    display: inline;
}

.mooStrengthScoreBar {
    border: 1px solid #000000;
    background-image: url(../images/mooStrength_gradient.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    position:absolute;
    width: 125px;
    display: inline;
}

table.list {
    margin-bottom: 5px;
    border: 1px solid #6e6e6e;
    border-collapse: collapse;
}

table.list th {
    background-color: #464548;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 90%;
    text-align: center;
    height: 18px;
    background-image: url(../images/blk.gif);
    background-repeat: repeat-x;
    background-position: top;
}

table.list td {
    border: 1px solid #C0C0C0;
    height: 25px;
    padding: 3px;
}

table.list td.noResults {
    text-align: center;
    height: 35px;
    background-color: #FFFFFF;
    width: 500px;
}

.row1 {
    background-color: #FFFFFF;
}

.row2 {
    background-color: #F0F0F0;
}

table.form {
    display: block;
    border: 1px solid #E7E7E7;
    border-collapse: collapse;
    margin-bottom: 15px;
    width: 100%;
}

table.form td {
    padding: 5px 7px 5px 7px;
    vertical-align: top;
}

table.form label {
    font-weight: bold;
}

.sortable th {
    cursor: pointer;
}

.floatLeft {
    float: left;	
}

.floatRight {
    float: right;	
}

/***** Custom Attributes *****/
div#customAttributeOrder table.elm {
    border: 1px solid #000;
    margin-bottom: 10px;
    width: 650px;
    padding: 0px;
    border-collapse: collapse;
    background-color: #C3593C;
    color: #FFF;

}

div#customAttributeOrder span#listStatus {
    background-color: #FFFD77;
    color: #000;
    line-height: 22px;
    display: block;
    width: 400px;
    padding: 3px;
    text-align: center;
}

div#customAttributeOrder table.elm a {
    color: #FFF;
}

div#customAttributeOrder table.elm td {
    padding: 4px;
}

div#customAttributeOrder table.elm td.description div {
    width: 440px;
    overflow: auto;
}

div#customAttributeOrder table.elm td.action {
    text-align: right;
}

div#customAttributeOrder table.elm td.order {
    color: #000;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    width: 22px;
    background-image: url(../../images/menu.gif);
    background-repeat: repeat-x;
    background-position: top;
    background-color: #FFF;
    cursor: pointer;
    vertical-align: top;
    line-height: 22px;
}

div.preview {
    background-color: #EAEAEA;
    padding: 5px;
}

div#opt {
    display: none;
    padding-top: 20px;
}

.message {
    border: 1px solid #CC0;
    background-color: #FFFFDF;
    padding: 4px 4px 4px 24px;
    margin: 5px 0 20px 0;
    background: #FFFFDF url(../../images/warning.png) no-repeat 3px 3px;
}

form dt {
    width: 120px;
    float: left;
    margin: 0px;
    padding: 0px;
    text-align: right;
}

form dt label {
    font-weight: bold;
    margin-right: 4px;
    line-height: 20px;
}

form dd input {
    margin-right: 5px;
}

form dd {
    margin: 10px 0px;
    padding: 0px;
}

form fieldset {
    margin: 0px;
    padding: 0px;
}

form fieldset dt {
    width: 80px;
}

form .errors {
    color: #C00;
    font-size: .78em;
    list-style: none;
    margin-left: 40px;
}

form ul.errors {
    margin-bottom: 10px;
}

.deleteButton {
    padding: 2px 15px 2px 20px;
    background-image: url(../../images/delete.png);
    background-repeat: no-repeat;
}

.editButton {
    padding: 2px 15px 2px 20px;
    background-image: url(../../images/edit.png);
    background-repeat: no-repeat;
}

.addButton {
    padding: 2px 15px 2px 20px;
    background-image: url(../../images/add.png);
    background-repeat: no-repeat;
}

span.required {
    color: #C00;
}

ul li {
    list-style-type: inherit;
}

ol li {
    list-style-type: decimal;
}

li {
    margin-left: 15px;
}