@CHARSET "UTF-8";

#createButton {
    float: left;
}

#fields {
    border: 1px solid #999;
    background-color: #CCC;
}

#realmStatic {
    background-color: inherit;
    border: 0px;
    margin-top: 2px;
}

form fieldset dt {
    width: 100px;
}