@CHARSET "UTF-8";

div.bugText {
    border: 1px solid #999;
    width: 500px;
    margin-bottom: 10px;
}

div.bugText .header {
    padding: 2px;
    background-color: #999;
    color: #FFF;   
}

div.bugText .bugContent {
    padding: 5px;
    background-color: #FFF;
}