@CHARSET "UTF-8";

.mooStrengthScoreBarBorder {
    background: #333;
    height: 16px;
    line-height: 16px;
    margin: 0 0 2px 3px;
    width: 125px;
    display: inline;
}

.mooStrengthScore {
    color: #000;
    font-size: 85%;
    position:absolute;
    text-align: center;
    width: 125px;
    z-index: 10;
    font-weight: bold;
    display: inline;
}

.mooStrengthScoreBar {
    border: 1px solid #000000;
    background-image: url(../images/mooStrength_gradient.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    position:absolute;
    width: 125px;
    display: inline;
}