<?xml version="1.0" encoding="UTF-8"?>
<configData>
  <production>
    <css>
        <file path="http://ajax.googleapis.com/ajax/libs/yui/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" order="prepend"/>
	    <file path="http://ajax.googleapis.com/ajax/libs/yui/2.7.0/build/base/base-min.css" order="prepend"/>
        <file path="superfish.css" order="append"/>
	    <file path="layout.css" order="append"/>
	    <file path="nav.css" order="append"/>
    </css>
    <scripts>
        <file path="jquery.plugin.hoverIntent.js" order="append"/>
	    <file path="jquery.plugin.supersubs.js" order="append"/>
	    <file path="jquery.plugin.superfish.js" order="append"/>
	    <file path="default.js" order="append"/>
    </scripts>
  </production>
</configData>