#undoMessage {
    font-size: 0.9em;
    color: #777;
}

a.controlButton {
    float: right;
    margin-right: 4px;
    top: -2px;
    position: relative;
}

.editElement, .deleteElement {
    cursor: pointer;
}

span#linkPrefix {
    font-size: 12px;
    padding-right: 3px;    
}


div.elm {
    margin-bottom: 10px;
    line-height: 20px;
}

form#navElementForm label {
    float: left;
    font-weight: bold;
    display: block;
    width: 115px;
    overflow: hidden;
    line-height: 20px;
    height: 20px;
    white-space: nowrap;
    margin-right: 10px;
}

fieldset {
    border: 1px solid #DDD;
    padding: 10px;
    width: 650px;
}

fieldset legend {
    padding: 0 5px;
    font-weight: bold;
}


#saveNavButton.highlight {
	border: 2px solid #fb3;
}

#addElement {
    width: 700px;
    height: 500px;
}

button.ui-dialog-titlebar-close {
    display: none;
}