.triggerAction div.status {
    text-align: center;
    background-repeat: no-repeat;
    background-position: center top;
    height: 64px;
}

.triggerAction div.status.enabled {
    background-image: url(../../../images/ot/grant.png);
}

.triggerAction div.status.disabled {
    background-image: url(../../../images/ot/deny.png);
}

.triggerAction h3.name {
    margin-top: 0px;
}

.triggerAction div.description {
    color: #666666;
    margin-bottom: 10px;
}

.triggerAction div.actions {
    text-align: right;
    margin: 10px 10px auto auto;
}