@CHARSET "UTF-8";

fieldset legend {
    font-weight: bold;
    font-size: 2em;
    padding: 0px 10px 0px 00px;
}

fieldset {
    border: 1px solid #DDDDDD;
    padding: 20px 20px 0px 20px;
    margin-bottom: 30px;
}

div.zend_form label.optional, div.zend_form label.required {
    white-space:normal;
    height: auto;
}

label.field-label {
    width: 300px;
    font-size: 1.1em;
    margin-bottom: 5px;
    height: auto;
}

.field-description {
    width: 300px;
    color: #666;
}

.fields {
    clear: both;
    display: inline;
    width: 600px;
    float: right;
    margin-left: 10px;
}

.fields * {
    display: inline;
}

.field-group {
    clear: both;
    border-bottom: 1px dashed #CCC;
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 900px;
    
}

.select-label {
    display: block;
    width: 230px;
    float: left;
    font-size: 1.2em;
}

.select-header {
    padding: 10px;
}