@CHARSET "UTF-8";

fieldset legend {
    font-weight: bold;
    font-size: 2em;
    padding: 0px 10px 0px 00px;
}

fieldset {
    border: 1px solid #DDDDDD;
    padding: 20px 20px 0px 20px;
    margin-bottom: 30px;
}

