div.contentBody {
    padding: 0;
}

div.errorBody {
    border: none;
    margin: 0 !important;
    padding: 50px !important;
    min-height: 200px;
}

h2.errorMessage {
    padding: 10px !important;
    border: 1px solid #ccc;
    font-size: 14pt;
    margin: 0;
    font-weight: normal;
}

div.errorBox {
    color: #000;
   -moz-box-shadow: 0 0 20px #888;
   -webkit-box-shadow: 0 0 20px #888;
   box-shadow: 0 0 20px #888;
   background: #fff;
}


div.errorContent {
    padding: 15px;
    border: 1px solid #ccc;
    border-top: none;
}

div#trackback table {
    margin: 0;
}

div#trackback table, div#trackback th, div#trackback td, div#trackback tr {
    border: 0;
}

div#trackback th {
    text-align: left;
    font-weight: normal;
    color: #888;
}

div#trackback tr td, div#trackback tr th {
    padding: 5px 10px;
}

div#trackback tr.row1 {
    background-color: #f8f8f8;
}

div#trackback tr.row2 {
    background-color: #f2f2f2;
}

#cancel {
    float: right;
    font-size: 10pt;
    padding: 2px 10px;
}

div#pageTitle {
    display: none;
}