#attributeList li {
    height: 18px;
    margin: 3px;
    padding: 0.4em 0.4em 0.4em 1.5em;
}

#attributeList {
    list-style-type: none;
    width: 500px;
}

#attributeList li span.dragIndicator {
    margin-left: -1.3em;
    position: absolute;
}

#attributeList li a {
    text-decoration: underline;    
}

#attributeList li table {
    width: 100%;
    height: inherit;    
}

#attributeList li table tr td {
    border: 0;
    padding: 0;
    margin: 0;
}

#attributeList li table td.controlButtons {
    text-align: right;
}