<?xml version="1.0" encoding="UTF-8"?>
<configData>
  <production>
    <app>
      <version>2.5.2</version>
      <theme>default</theme>
      <tablePrefix>ot_</tablePrefix>
      <loginOptions>
      	<generateAccountOnLogin>1</generateAccountOnLogin>
        <passwordReset>
          <key>tl30fkvERtili</key>
          <iv>39v09v90fef094gj</iv>
          <cipher>MCRYPT_RIJNDAEL_128</cipher>
          <numberMinutesKeyIsActive>30</numberMinutesKeyIsActive>
        </passwordReset>
        <fbConnect>
            <appId></appId>
            <secret></secret>
        </fbConnect>
        <twitter>
            <consumerKey></consumerKey>
            <consumerSecret></consumerSecret>
        </twitter>
      </loginOptions>
      <accountPlugin>Internal_Account_Plugin_Attributes</accountPlugin>
      <triggerPlugins>
        <Ot_Trigger_Plugin_Email>Send email</Ot_Trigger_Plugin_Email>
        <Ot_Trigger_Plugin_EmailQueue>Send email via Queue</Ot_Trigger_Plugin_EmailQueue>
      </triggerPlugins>
      <customFieldObjects>
        <Ot_Profile>User Profile</Ot_Profile>
      </customFieldObjects>
      <oauth>
      	<consumers>    
      <!-- use 
            <{consumerId}>
                <name></name>
                <description></description>
                <website></website>
                <consumerKey></consumerKey>
                <consumerSecret></consumerSecret>
                <requestTokenUrl></requestTokenUrl>
                <accessTokenUrl></accessTokenUrl>
                <authorizeUrl></authorizeUrl>
            </{consumerId}> 
     -->
     	</consumers>
      </oauth>
    </app>
    <user>
      <timezone description="The current timezone for the application." val="America/New_York"/>
      <language description="The default language for the application." val="en"/>
      <appTitle description="The title of the application." val="OT Framework Application"/>
      <appDescription description="The application description." val="App description!"/>
      <metaKeywords description="The meta keywords you would like to use for the application." val=""/>
      <fromEmailAddress description="The global from email address.  All email from the system will come from this address." val="admin@app.com"/>
      <fromEmailName description="The global from email name.  This is the name that will be shown with the fromEmailAddress." val="Admin"/>
      <fileUploadAllowableExtensions description="The allowable extensions for files.  I would not suggest putting executable files in here..." val="pdf,doc,ppt,html,txt,zip"/>
      <headerRowRepeat description="The number of rows displayed in a table before the header cells are repeated." val="25"/>
      <requiredAccountFields description="When a user logs in, if these fields are not populated, they will be forced to populate the fields before continuing (separate by commas)" val="firstName, lastName, emailAddress"/>
      <defaultRole description="Default role that a user gets if they are not logged in." val="1"/>
      <newAccountRole description="Role which is assigned to users when a new account is created for them" val="1"/>
      <dateTimeFormat description="Date / Time formatted using PHP's strftime() function." val="%m/%d/%Y %I:%M %p"/>
      <medDateFormat description="Date formatted using PHP's strftime() function." val="%b %e, %Y"/>
      <longDateCompactFormat description="Date formatted using PHP's strftime() function." val="%a, %b %e, %Y"/>
      <longDateFormat description="Date formatted using PHP's strftime() function." val="%A, %B %e, %Y"/>
      <dateFormat description="Date formatted using PHP's strftime() function." val="%m/%d/%Y"/>
      <dayFormat description="Date formatted using PHP's strftime() function." val="%d"/>
      <timeFormat description="Time formatted using PHP's strftime() function." val="%I:%M %p"/>
      <minutesToKeepUserActivity description="The number of minutes to keep the logged-in user activity." val="10"/>
      <showTrackbackOnErrors description="Whether or not to show the trackback of the error" val="1"/>
    </user>
    <triggers>
      <trigger name="Login_Index_Forgot" description="When a user has forgotten their password, they ask for a reset email to be sent to their registered email address.">
        <var name="firstName" description="First name of the user"/>
        <var name="lastName" description="Last name of the user."/>
        <var name="emailAddress" description="Email address of the user."/>
        <var name="username" description="Username of user."/>
        <var name="loginMethod" description="Name of login method which they use to log into the system with."/>
        <var name="resetUrl" description="URL the user will need to go to to reset their password."/>
      </trigger>
      <trigger name="Login_Index_Signup" description="When a user signs up for a new account.">
        <var name="firstName" description="First name of the user."/>
        <var name="lastName" description="Last name of the user."/>
        <var name="emailAddress" description="Email address of the user."/>
         <var name="username" description="Username of user."/>
        <var name="loginMethod" description="Name of login method which they use to log into the system with."/>
        <var name="password" description="The password they give to their account."/>
      </trigger>
      <trigger name="Admin_Account_Create_Password" description="When an administrator creates an account for a user where a password is dynamically generated for the user.">
        <var name="firstName" description="First name of the user."/>
        <var name="lastName" description="Last name of the user."/>
        <var name="emailAddress" description="Email address of the user."/>
        <var name="username" description="Username of user."/>
        <var name="loginMethod" description="Name of login method which they use to log into the system with."/>
        <var name="password" description="The password they give to their account."/>
        <var name="role" description="Assigned role given to the user."/>
      </trigger>
      <trigger name="Admin_Account_Create_NoPassword" description="When an administrator creates an account for a user when no password is created for the user.">
        <var name="firstName" description="First name of the user."/>
        <var name="lastName" description="Last name of the user."/>
        <var name="emailAddress" description="Email address of the user."/>
        <var name="username" description="Username of user."/>
        <var name="loginMethod" description="Name of login method which they use to log into the system with."/>
        <var name="role" description="Assigned role given to the user."/>
      </trigger>
    </triggers>
    <api>
    	<call name="getVersions" class="Ot_Version" method="getVersions" />
    </api>
  </production>
</configData>