.navbar .nav>li>a {
    padding: 5px 15px 5px;
    color: #FFF;
    text-shadow: none;
    font-weight: bold;
}

.navbar-inner {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background-color: #444;
    background-image: none;
    border: 0px;
    min-height: 29px;
    padding-left: 0px;
    font-size: 0.9em;
}

.navbar .nav-spacer {
    color: #FFF;
    font-weight: normal;
    display: block;
    text-decoration: none;
    float: none;
    margin: 8px 0px 8px;
    height: 15px;
    border-right: 1px solid #FFF;
}

.navbar .nav>li>a:hover {
    color: #FFF;
}

#header .row #site-title {
    height: 88px;
    color: #FFF;
}

#header .row #site-title h1 {
    color: #FFF;
    margin-left: 15px;
    padding: 14px 0;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#header {
    margin-bottom: 5px;
    background-image: url(../images/top-header-bg.png);
    background-repeat: repeat-x;
}

#header .row #auth-wrapper {    
    background-color: #ae0001;
    padding: 34px 0 0 0;
    height: 54px;
}
#header .row #site-auth {
    color: #FFF;
    text-align: center;
}

#header .row #site-auth a {
    color: #EEE;
    text-decoration: underline;
}

#header .row #site-auth a:hover {
    color: #FFF;
}

#pageTitle {
    margin: 5px 0 14px 0;
    padding: 0 0 13px 0;
    border-bottom: 1px solid #CCC;
    font-size: 1.4em;
    line-height: 1.2em;
    font-weight: normal;
    color: #CC0000;
}

#content {
    min-height: 300px;
}

#footer {
    margin-top: 20px;
    border-top: 5px solid #C00;
}

#footer .row #footer-nav {
    background-color: #C00;
    margin-top: 5px;
    padding-top: 5px;
    height: 35px;
}

#footer .row #footer-nav span {
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: left;
    line-height: 30px;
    font-size: 11px;
}

a#overrideTranslationLink {
    float: right;
    color: #FFFFFF;
    padding-right: 10px;
}

#footer .row ul {
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

#footer ul li {
    float: left;
    display: inline;
    text-transform: uppercase;
    padding: 4px 12px 4px 11px;
}

#footer #footer-bottom {
    margin-top: 15px;
}

#footer .row #footer-address {
    text-align: right;
    font-weight: bold;
    text-transform: uppercase;
    color: #CC0000;
}

#footer .row #footer-logo {
    background-image: url(../images/footaddy_bg.gif);
    background-repeat: no-repeat;
    height: 25px;
}

.gradient-gray {
    color: #000;
    text-shadow: 1px 1px 1px #fff;
    background: #eee; /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* W3C */
}

.gradient-green {
    color: #000;
    background: #eee; /* Old browsers */
    background: -moz-linear-gradient(top, #7bae0e 0%, #638b05 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7bae0e), color-stop(100%,#638b05)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7bae0e 0%,#638b05 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7bae0e 0%,#638b05 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #7bae0e 0%,#638b05 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7bae0e', endColorstr='#638b05',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #7bae0e 0%,#638b05 100%); /* W3C */
}

.gradient-red {
    color: #fff;
    background: #d21500;
    background: -moz-linear-gradient(top, #d21500 0%, #9d0303 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d21500), color-stop(100%,#9d0303));
    background: -webkit-linear-gradient(top, #d21500 0%,#9d0303 100%);
    background: -o-linear-gradient(top, #d21500 0%,#9d0303 100%);
    background: -ms-linear-gradient(top, #d21500 0%,#9d0303 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d21500', endColorstr='#9d0303',GradientType=0 );
    background: linear-gradient(top, #d21500 0%,#9d0303 100%);
}

.gradient-white {
    text-shadow: 1px 1px 1px #fff;
    color: #000;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef));
    background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#efefef 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#efefef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 );
    background: linear-gradient(top, #ffffff 0%,#efefef 100%);
}

.button-green {
    text-shadow: 1px 1px 1px #77AB0C;
    color: #fff !important;
    background: #6da105 !important;
    background: -moz-linear-gradient(top, #6da105 0%, #7bae0e 50%, #638b05 51%, #648b09 71%, #69890f 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6da105), color-stop(50%,#7bae0e), color-stop(51%,#638b05), color-stop(71%,#648b09), color-stop(100%,#69890f)) !important;
    background: -webkit-linear-gradient(top, #6da105 0%,#7bae0e 50%,#638b05 51%,#648b09 71%,#69890f 100%) !important;
    background: -o-linear-gradient(top, #6da105 0%,#7bae0e 50%,#638b05 51%,#648b09 71%,#69890f 100%) !important;
    background: -ms-linear-gradient(top, #6da105 0%,#7bae0e 50%,#638b05 51%,#648b09 71%,#69890f 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6da105', endColorstr='#69890f',GradientType=0) !important;
    background: linear-gradient(top, #6da105 0%,#7bae0e 50%,#638b05 51%,#648b09 71%,#69890f 100%) !important;
}

.button-red {
    text-shadow: 1px 1px 1px #CC2F1A;
    color: #fff !important;
    background: #EA4931 !important;
    background: -moz-linear-gradient(top, #CC2F1A 0%, #CC2F1A 50%, #A9210C 51%, #A9210C 71%, #A9210C 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CC2F1A), color-stop(50%,#CC2F1A), color-stop(51%,#A9210C), color-stop(71%,#A9210C), color-stop(100%,#A9210C)) !important;
    background: -webkit-linear-gradient(top, #CC2F1A 0%,#CC2F1A 50%,#A9210C 51%,#A9210C 71%,#A9210C 100%) !important;
    background: -o-linear-gradient(top, #CC2F1A 0%,#CC2F1A 50%,#A9210C 51%,#A9210C 71%,#A9210C 100%) !important;
    background: -ms-linear-gradient(top, #CC2F1A 0%,#CC2F1A 50%,#A9210C 51%,#A9210C 71%,#A9210C 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CC2F1A', endColorstr='#A9210C',GradientType=0) !important;
    background: linear-gradient(top, #CC2F1A 0%,#CC2F1A 50%,#A9210C 51%,#A9210C 71%,#A9210C 100%) !important;
}

.button-yellow {
    text-shadow: 1px 1px 1px #fff !important;
    background: #f3cb07 !important;
    background: -moz-linear-gradient(top, #f3cb07 0%, #efcb29 50%, #d1a907 51%, #d2ab0c 71%, #cfa313 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3cb07), color-stop(50%,#efcb29), color-stop(51%,#d1a907), color-stop(71%,#d2ab0c), color-stop(100%,#cfa313)) !important;
    background: -webkit-linear-gradient(top, #f3cb07 0%,#efcb29 50%,#d1a907 51%,#d2ab0c 71%,#cfa313 100%) !important;
    background: -o-linear-gradient(top, #f3cb07 0%,#efcb29 50%,#d1a907 51%,#d2ab0c 71%,#cfa313 100%) !important;
    background: -ms-linear-gradient(top, #f3cb07 0%,#efcb29 50%,#d1a907 51%,#d2ab0c 71%,#cfa313 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3cb07', endColorstr='#cfa313',GradientType=0 ) !important;
    background: linear-gradient(top, #f3cb07 0%,#efcb29 50%,#d1a907 51%,#d2ab0c 71%,#cfa313 100%) !important;
}
.gradient-yellow {
    background: #fff4d1;
    background: -moz-linear-gradient(top, #fff4d1 0%, #ffe17f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff4d1), color-stop(100%,#ffe17f));
    background: -webkit-linear-gradient(top, #fff4d1 0%,#ffe17f 100%);
    background: -o-linear-gradient(top, #fff4d1 0%,#ffe17f 100%);
    background: -ms-linear-gradient(top, #fff4d1 0%,#ffe17f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff4d1', endColorstr='#ffe17f',GradientType=0 );
    background: linear-gradient(top, #fff4d1 0%,#ffe17f 100%);
}

/* jQuery UI Overrides */
.ui-widget-header {

    color: #000;
    text-shadow: 1px 1px 1px #fff;
    border: 0;
    margin: 0;
    padding: 5px 10px;

    background: #eee; /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* W3C */
}

.ui-tabs {
    padding: 0;
}

ul.ui-tabs-nav {
    border-radius: .4em .4em 0 0;
    border-bottom: 1px solid #bbb;
    padding: 1px 5px 0 5px !important;
}

ul.ui-tabs-nav li a {
    padding: 5px 10px !important;
}

.ui-widget-overlay {
    background: #000;
    opacity: 0.4;
    filter:alpha(opacity=40);
}

.ui-tabs-selected {
    border-top: 1px solid #ccc !important;
    border-left: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
}

.ui-dialog {
    padding: 0;
    border: 1px solid #bbb;
    box-shadow: 0 0 50px #b8b8b8;
    position: fixed;
}

.ui-dialog-icon {
    padding: 8px;
    float: left;
    margin-right: 10px;
}

.ui-dialog .ui-dialog-titlebar {
    border-radius: .4em .4em 0 0;
    padding: 0 10px;
    font-size: 12pt;
    font-weight: normal;
    border-bottom: 1px solid #bbb;
}

.ui-dialog .ui-dialog-title {
    margin: 0;
    padding: 0;
    line-height: 40px;
    font-size: 12pt;
    float: left;
}

.ui-dialog .ui-dialog-buttonpane {
    padding: 10px;
    border-top: 1px solid #bbb;
    margin: 0;
    border-radius: 0 0 .4em .4em;

    background: #eee; /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* W3C */
}

.ui-dialog .ui-dialog-buttonpane .ui-button {
    margin: 0 0 0 5px;
}

.ui-button {
    padding: .5em 1em !important;
    font-size: 1em !important;
}

.ui-button a {
    text-decoration: none !important;
}

.ui-button .ui-button-text {
    padding: 0;
}

.error-header {
    margin-top: 20px;
}